### Task 1

In [ ]:
grade_1 = 25
grade_2 = 30
grade_3 = 28

#### *Calculate and display the total number of students*

In [2]:
grade_1 = 25
grade_2 = 30
grade_3 = 28
total_number = (grade_1 + grade_2 + grade_3)
print(total_number)

83

#### *Calculate and display the average number of students per grade*

In [3]:
average_number = total_number / 3
print(round(average_number))

28

### Task 2

#### *Assign the messages in variables corresponding to each grade and display grade 2*

In [6]:
grade_one = 'Welcome to Grade 1! We are excited to have you.'
grade_two = 'Hello Grade 2 students! Get ready to learn and have fun.'
grade_three = 'Welcome Grade 3 students. Let\'s make this a great year of learning.'
print(grade_two)

Hello Grade 2 students! Get ready to learn and have fun.

### Task 3

#### *Create a list of grades and a list of subjects for each grade*

In [7]:
grade_list = ['grade_one', 'grade_two', 'grade_three']

grade_one_subjects = ['maths', 'english', 'science']
grade_two_subjects = ['english', 'science', 'history']
grade_three_subjects = ['science', 'history', 'maths']

#### *Create a dictionary where keys are the grade names and values are lists of teachers for each grade*

In [ ]:
grade_teachers = {
    'grade_one': ['Mr Smith', 'Ms Johnson', 'Mr Davis'],
    'grade_two': ['Ms Williams', 'Mr Davis', 'Ms Brown'],
    'grade_three': ['Ms Davis', 'Mr Johnson', 'Mr Smith']
}

#### *Display the subjects thought in grade 3 and display the values of grade 2 in the dictionary*

In [10]:
grade_teachers = {
    'grade_one': ['Mr Smith', 'Ms Johnson', 'Mr Davis'],
    'grade_two': ['Ms Williams', 'Mr Davis', 'Ms Brown'],
    'grade_three': ['Ms Davis', 'Mr Johnson', 'Mr Smith']
}
print(grade_three_subjects)
print(grade_teachers['grade_two'])

['science', 'history', 'maths']
['Ms Williams', 'Mr Davis', 'Ms Brown']